/.venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/DeepNASDAQ-Predictor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/regresiePretInchidere/dataIn/features.csv
/regresiePretInchidere/dataOut/BiLSTM_predictions.csv
/regresiePretInchidere/dataOut/CNN_LSTM_predictions.csv
/regresiePretInchidere/dataOut/LSTM_predictions.csv
/regresiePretInchidere/dataOut/plot/BiLSTM_plot.png
/regresiePretInchidere/dataOut/plot/CNN_LSTM_plot.png
/regresiePretInchidere/dataOut/plot/LSTM_plot.png
/regresiePretInchidere/dataIn/train/X.npy
/regresiePretInchidere/dataIn/train/y.npy
/regresiePretInchidere/dataIn/train/y_price.npy
/regresiePretInchidere/dataIn/train/y_vol.npy
/regresiePretInchidere/model/bilstm_model.keras
/regresiePretInchidere/model/cnn_lstm_close.keras
/regresiePretInchidere/model/lstm_model.keras
